# Brief Introduction to Python:

~ Defination: Python is a Dynamic, Versatile, easy to write and wide community based Object Oriented Programming Language.

~ Python is a Dynamic Typing Programming Language that means variables can be reassign to Different Data Types which makes python very flexible in assigning data types.
example: x = 23(as int) and x = ['a', 'b', 'c'](as list).

~ Developed By: Guido Van Rossum  in 1991.

~ Editor used to learn python: Jupyter Notebook by Anaconda on conda Environment.

~ Source : https://www.udemy.com/course/complete-python-bootcamp/     --by Jose Portilla

~ learned by Bishal Phuyal.

## Variable Assignment

~ By assigning Variables it would be easier to assign the Datatypes.
Example: x = 23 (Here: x-is a variable and 23-is a value of that variable)

### Rules For Variables Assignment:

~ Names Cannot Start with a Number.

~ There Cannot be space in the Name. (can use '_' instead).

~ Can't use symbols like ('",<>/?|\(){}[]#@!$%~`^&* ) while assigning the variable name

~ Best Practise (PEP8) that names are lowercase.

~ Avoid using words that have special meaning in python like 'sets', 'dict', 'add' and many more.

# Data Structures:

~ Data Structure are the building blocks of costructing large pieces of codes. Int, Floating points, Strings, Lists, Dictionaries, Tuples, Sets, Booleans and File I/O.

### 1. Numbers:

~ Numbers are every values that are in the number format which are not enclosed in a quotations. Example: x = 23/23.23343 (is a number) but x = "23"  (is a string).

#### Integers:

~ Any number value that doesnot have a decimal value are integers. Example: x=23 (is integer) but x =23.0000 (is a floating point).

Real Examples:

In [506]:
x = 23 
y = 24  #----------assigns the value in variable x and y.

In [507]:
print(x)  #----------prints the value of x.

23

In [508]:
type(x)   #-----------shows the datatype of the variable.

int

In [509]:
z = x + y  
print(z)    #----------adds and print the value of given variable.

47

#### Floating Points:

~ Any Number value that have decimal point on it is assigned as Floating pooing.

Real Examples:

In [510]:
f = 23.000099234  #----------assigns float value to the variable name f.

In [511]:
print(f)  #----------------prints the value of f.

23.000099234

In [512]:
type(f)  #----------------shows the datatype of the variable.

float

In [513]:
f.is_integer()  #--------------Boolean value to say the variable is integer or not.

False

### 2. Strings:

~ Any sequence of character, using the syntax of quotaiion(single or double).

~ Strings are ordered sequence, can use indexing and slicing to grab sub-section of the string.

Examples: "Hello World", 'h', "23", "23.000099234" all are string if they are enclosed inside a quotation marks.

Real Examples:

In [514]:
my_string = "HELLO"  #---------------assigns the value to the variable.

In [515]:
print(my_string)   #------------------------prints the string value of the variable.

HELLO

In [516]:
type(my_string)    #------------------------shows the datatype of the variable.

str

#### Indexing:

~ Indexing notation uses [] notation after the string.

~ Syntax => variable[index]

~ It allows, to grab a single character from the string.

Example:

Character(index): H(0) E(1) L(2) L(3) O(4)

Character(reverse index): H(0) E(-4) L(-3) L(-2) O(-1)

In [517]:
print(my_string[0])   #---------------------prints the first letter of the value. (indexing)

H

In [518]:
print(my_string[-1])  #---------------------prints last letter of the value as of reverse index.(indexing)

O

#### Slicing:

~ Slicing alloes to grab a sub section of multiple character, a slice of the string.

~ syntax => variable[start: stop: step]

~ Example:

In [519]:
 print(my_string)      #----------original string.
print(my_string[0:])  #--------------prints the slice of value from index number '0' towards end without step.

HELLO
HELLO

In [520]:
print(my_string)      #----------original string.
print(my_string[-3:])  #............prints the slice of value from index number '-3' towards end without step.

HELLO
LLO

In [521]:
print(my_string)      #----------original string.
print(my_string[:-1])  #...........prints the slice of value upto the index number '-1' but not '-1'.

HELLO
HELL

In [522]:
print(my_string)      #----------original string.
print(my_string[::2])  #.........prints by stepping 2 i.e, it leaves every even slice.

HELLO
HLO

In [523]:
print(my_string)      #----------original string.
print(my_string[::-1]) #-----------TO reverse the string.

HELLO
OLLEH

In [524]:
print(my_string)      #----------original string.
print('HEL \n LO')    #----------- '\n' to break the line.

HELLO
HEL
 LO

In [525]:
print(my_string)      #----------original string.
print('HEL \t LO')    #---------- '\t' to make a table view.

HELLO
HEL 	 LO

#### String Methods:

In [526]:
x = "Hello World"

In [527]:
print(x)               #----------original string.
print(x.capitalize())  #-----------------Capitalizes the first letter

Hello World
Hello world

In [528]:
print(x)               #----------original string.
print(x.casefold())   #-----------uncapitalized everything.

Hello World
hello world

In [529]:
print(x)               #----------original string.
print(x.center(16, 'a'))  #------------centralizes the text by adding given letter to start and end.

Hello World
aaHello Worldaaa

In [530]:
print(x)               #----------original string.
print(x.count('l'))   #-----------counts the number of given letter.

Hello World
3

In [531]:
ed = 'å is a'                                                    #------------------original string.
print(ed.encode(encoding="ascii",errors="backslashreplace"))     #-------uses backslash as error if not ascii.
print(ed.encode(encoding="ascii",errors="ignore"))               #-------ignores error if not ascii.
print(ed.encode(encoding="ascii",errors="namereplace"))          #-------replace the name as error if not ascii.
print(ed.encode(encoding="ascii",errors="replace"))              #-------uses '?' as error if not ascii.
print(ed.encode(encoding="ascii",errors="xmlcharrefreplace"))    #-------uses xml as error if not ascii.

b'\\xe5 is a'
b' is a'
b'\\N{LATIN SMALL LETTER A WITH RING ABOVE} is a'
b'? is a'
b'&#229; is a'

In [532]:
print(x)                 #----------original string.
print(x.expandtabs(3))   #----------expands tabs between letter.

Hello World
Hello World

In [533]:
print(x)               #----------original string.
print(x.find('W'))     #----------finds the index number of given letter.

Hello World
6

In [534]:
print("My message is: \t {mess}".format(mess=x))   #-------------older ways to use format.
print(f"My message is: \t {x}")                #-------------newer ways to use format.

My message is: 	 Hello World
My message is: 	 Hello World

In [535]:
print(x)                #----------original string.
print(x.index("World")) #----------especially finds the word (same as 'find' method).

Hello World
6

In [536]:
x.startswith('H')       #- Boolean string methods----string starts with the given letter or not.

True

In [537]:
x.endswith('d')       #----Boolean string methods------- string ends with the given letter or not.

True

In [538]:
x.isalnum()       #-----Boolean string methods------ string have any number or not.

False

In [539]:
x.isascii()         #---Boolean string methods----- string have all ascii encoding or not.

True

In [540]:
x.isdecimal()       #---Boolean string methods----- string have decimal value or not.

False

In [541]:
x.islower()           #---Boolean string methods------ string have all letter lowercase or not.

False

In [542]:
x.isnumeric()         #---Boolean string methods---- string have every value number or not.

False

In [543]:
x.isprintable()       #---Boolean string methods---- string is printable or not.

True

In [544]:
x.isspace()        #---Boolean string methods--- string only have space or not.

False

In [545]:
x.istitle()          #---Boolean string methods---- string is title or not.

True

In [546]:
x.isupper()         #-----Boolean string methods---- string have all letter upercase or not.

False

In [547]:
print(x)                #----------original string.
print('#'.join(x))        #----------------------joins every letter of string with given letter or synbol.

Hello World
H#e#l#l#o# #W#o#r#l#d

In [548]:
print(x)                #----------original string.
print(x.ljust(20))        #------------------------left justify by 20 spaces.

Hello World
Hello World

In [549]:
print(x)                #----------original string.
print(x.lower())        #-----------lowercase everything in the string.

Hello World
hello world

In [550]:
print(x)                #----------original string.
print(x.lstrip())        #----------removes the space to the left.

Hello World
Hello World

In [551]:
print(x)                     #----------original string.
print(x.partition('World'))  #-----------searches the word or letter and make partition to it.

Hello World
('Hello ', 'World', '')

In [552]:
print(x)                              #----------original string.
print(x.replace('World', 'Globe'))   #-------------Replaces the world from Globe.

Hello World
Hello Globe

In [553]:
print(x)                              #----------original string.
print(x.rfind('l'))                 #----------finds the index number of given letter from right.

Hello World
9

In [554]:
print(x)                              #----------original string.
print(x.rpartition('l'))              #-----------searches the word or letter and make partition to it from right.

Hello World
('Hello Wor', 'l', 'd')

In [555]:
print(x)                              #----------original string.
print(x.rsplit(' '))                   #----------splits string to list from right with space' '.

Hello World
['Hello', 'World']

In [556]:
print(x)                              #----------original string.
print(x.rstrip())                     #----------removes the spaces from the right.

Hello World
Hello World

In [557]:
print(x)                              #----------original string.
print(x.split())                      #-----------splits the string to the list.

Hello World
['Hello', 'World']

In [558]:
print('Hello\nWorld')                              #----------original string.
print('Hello\nWorld'.splitlines())                 #----------split string to list on line break.

Hello
World
['Hello', 'World']

In [559]:
print(x)                              #----------original string.
print(x.strip())                      #----------removes the space from both left and right.

Hello World
Hello World

In [560]:
print(x)                            #----------original string.
print(x.swapcase())                 #----------changes letter from lower to upper and upper to lower.

Hello World
hELLO wORLD

In [561]:
print(x)                          #----------original string.
print(x.title())                  #-----------changes string to title.

Hello World
Hello World

In [562]:
print(x)                         #----------original string.
print(x.upper())                 #-----------changes every letter to uppercase.

Hello World
HELLO WORLD

In [563]:
print(x)                         #----------original string.
print(x.zfill(17))              #-----------fills the string with '0' from begining upto the given number.

Hello World
000000Hello World

### 3. Lists:

~ Lists are ordered sequence that can hold a variety of object types.

~ Lists uses [] brackets and commas to seprate objects in List.

~ Supports indexing and slicing.

~ Lists are mutable i.e, value can be changed.

Example:

In [564]:
my_list = [1,2,3,"Hello", 23.2394, ['a', 'b', 'c']]     #---------------assigns the value to the list.

In [565]:
print(type(my_list))                    #--------------------shows the type of variable.

<class 'list'>

In [566]:
print(len(my_list))                    #---------------------gives the length of the list.

6

In [567]:
print(my_list + ["World", 'a', 'b'])     #----------------------Concatenation.

[1, 2, 3, 'Hello', 23.2394, ['a', 'b', 'c'], 'World', 'a', 'b']

In [568]:
my_list[0] = 'one'                      #-----------------------List are mutable; value can be chaged.

#### List Methods:

In [569]:
my_list.append('z') #---------------------------appends values to the list.
print(my_list)

['one', 2, 3, 'Hello', 23.2394, ['a', 'b', 'c'], 'z']

In [570]:
my_list.count('z')     #-----------------------counts the number of given value available in list.

1

In [571]:
print(my_list.copy())    #---------------------------copies the value of list.

['one', 2, 3, 'Hello', 23.2394, ['a', 'b', 'c'], 'z']

In [572]:
my_list.extend([22, 23,24])   #-----------------------extends the given value to the list.
print(my_list)

['one', 2, 3, 'Hello', 23.2394, ['a', 'b', 'c'], 'z', 22, 23, 24]

In [573]:
my_list.index('Hello')     #---------------------provides the index number of given value.

3

In [574]:
my_list.insert(0, 'zero')   #--------------------inserts the given value in the given index number.
print(my_list)

['zero', 'one', 2, 3, 'Hello', 23.2394, ['a', 'b', 'c'], 'z', 22, 23, 24]

In [575]:
my_list.pop()             #-------------------pops out the last item from list.

24

In [576]:
my_list.pop(5)               #-----------------pops out the given index item from list.

23.2394

In [577]:
my_list.remove('one')        #------------------removes the given item from the list.

In [578]:
my_list.reverse()                   #----------------------reverse the list's item position.
print(my_list)

[23, 22, 'z', ['a', 'b', 'c'], 'Hello', 3, 2, 'zero']

In [579]:
my_list.clear()                      #--------------------------------clears all item in list

In [580]:
my_list = [2,5,4,6,9,1,3,7,8]

my_list.sort()                      #----------------sorts the list in ascending order if it is in number only.
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [581]:
my_list.sort(reverse=True)            #------------------reverse the list in sort manner.
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [582]:
#     my_list.sort(key = _____)           #------------------acts according to the function.

### 4. Dictionaries:

~ Dictionaries are unordered mapping for storing objects.

~ They uses a key-value pairing instead.

~ Key-value pair allows users to quickly grab objects without the need of an index location.

~ Dictionaries are objects retrived by key name. They are unordered and cannot be stored.

~ Syntax =>  {'key1':'value1', 'key2':'value2', 'key3':'value3'}

~ Dictionarie can have list and nested dictionarie inside it as =>  {'l1':{[1,2,3,4,]}, 'd2':{'d21':{'a','b'}, 'd22':{1,2,3}}

Example:

In [583]:
my_dict = {'apple':234, 'banana':300, 'mango':400}

In [584]:
my_dict['oranges'] = 200          #---------------------adds new value with key in the dictionarie.
print(my_dict)

{'apple': 234, 'banana': 300, 'mango': 400, 'oranges': 200}

#### Dictionarie Methods:

In [585]:
print(my_dict.copy())             #--------------copies the value with key of the dictionarie.

{'apple': 234, 'banana': 300, 'mango': 400, 'oranges': 200}

In [586]:
print(my_dict.get('apple'))          #----------------returns the value of the given key.

234

In [587]:
my_dict.pop('mango')                    #-----------------removes the  given key value.
print(my_dict)

{'apple': 234, 'banana': 300, 'oranges': 200}

In [588]:
my_dict.popitem()                       #----------------removes the latest added key-value.

('oranges', 200)

In [589]:
my_dict.setdefault('apple',235)       #--------------returns the value if the key is located.

234

In [590]:
my_dict.setdefault('berry',500)       #---------------else adds the key-value pair to the dictionarie.

500

In [591]:
my_dict.keys()                      #-------------------returns a list containing the dictionaries keys.

dict_keys(['apple', 'banana', 'berry'])

In [592]:
my_dict.values()                  #---------------------returns a list containing the dictionaries values.

dict_values([234, 300, 500])

In [593]:
my_dict.items()                  #--------------------returns a list containing tuple for each key value pair.

dict_items([('apple', 234), ('banana', 300), ('berry', 500)])

In [594]:
my_dict.update({'grapes':200})     #----------updates the dictionaries with the specified key-value pair.
print(my_dict)

{'apple': 234, 'banana': 300, 'berry': 500, 'grapes': 200}

In [595]:
d1 = ('key1', 'key2', 'key3')
d2 = 0
d3 = dict.fromkeys(d1, d2)      #-----------returns a dictionary with the specified keys and the specified value.
print(d3)

{'key1': 0, 'key2': 0, 'key3': 0}

In [596]:
my_dict.clear()                  #------------clears the dictionarie key-value pair.
print(my_dict)

{}

### 5. Tuples:

~ Tuples are very similar to list but immutability.

Example:

In [607]:
t = (1,2,3,4,5,6,6,"hello",7)

Methods:

In [608]:
t.count(6)                #----------------------counts the number of given item  in tuple.

2

In [610]:
t.index("hello")           #---------------------returns the index number of given value.

7

### 6. Sets

~ Sets are the unordered collections of unique element.

~ There can only be one representative of the same object.

Example:

In [692]:
my_set = set()                     #-------------------------defines it as a  empty set.

In [693]:
my_set1 = {'a', 'b', 'c', 'd', 'e'}  #-------------------defines it as a set full of values.

In [694]:
my_set2 = set({'c', 'd', 'e'})       #-------------------can be defined this way too.

In [695]:
print(my_set1)                      #----------------returns the values of set.

{'d', 'e', 'b', 'c', 'a'}

In [696]:
type(my_set1)                      #----------------returns the type of given variable.

set

#### Set Methods:

In [730]:
my_set.add('a')
my_set.add('b') 
my_set.add('c')
my_set.add('d')                      #--------------------------Takes only one argument as the value and adds it.
print(my_set)

{'b', 'c', 'a', 'd'}

In [731]:
my_set.copy()           #-------------------------Copies the value of the set.

{'a', 'b', 'c', 'd'}

In [732]:
my_set.discard('a')        #---------------------------Discards 'a' given value from the set.
print(my_set)

{'b', 'c', 'd'}

In [733]:
my_set.pop()               #-------------------------removes random item from the set.

'b'

In [735]:
my_set.add('b')
my_set.remove('b')             #---------------------removes the given item from set.
print(my_set)

{'c', 'd'}

In [721]:
my_set1.isdisjoint(my_set2)       #---------------Boolean Value----------set 1 is disjoint to set 2 or not.

False

In [722]:
my_set1.issubset(my_set2)        #-------------Boolean Value-------------set 1 is sub set of set 2 or not.

False

In [723]:
my_set1.issuperset(my_set2)        #-------------Boolean Value-------------set 1 is super set of set 2 or not.

True

In [737]:
my_set1.difference(my_set2)     #----------------returns the value that is not in set 2 but only in set 1.

{'a', 'b'}

In [738]:
my_set1.intersection(my_set2)    #------------------returns the common items from set 1 and set 2.

{'c', 'd', 'e'}

In [739]:
my_set1.symmetric_difference(my_set2)   #-----------------return every item from  both except common item.

{'a', 'b'}

In [741]:
my_set1.union(my_set2)          #------------------------return every item from both set including common ones.

{'a', 'b', 'c', 'd', 'e'}

In [745]:
my_set1.difference_update(my_set2)       #------------------removes every common items from set 1.
print(my_set1)

{'b', 'a'}

In [748]:
my_set1.intersection_update(my_set2)      #--------------------remove every difference item from set 1.
print(my_set1)

set()

In [753]:
my_set1.symmetric_difference_update(my_set2)    #----inserts all the non-commom item of set 1 and set 2 to set 1. 
print(my_set1)

{'d', 'e', 'c'}

In [756]:
my_set1.update(my_set2)                 #------------inserts all the item of set 2 to set 1.
print(my_set1)

{'c', 'd', 'e'}